@model WebApplication2.Models.Feedback
@{
    ViewBag.Title = "Get intouch";
}
<h2>@ViewBag.Title</h2>

<div class="inner cover">
    <p>
        Please leave us an email if you want to get hold of us or you want to leave us a comment/suggestion/feature request or help.
    </p>

   @* <address>
        <strong>PrintPics.co.za Team:</strong> <a href="mailto:info@printpics.co.za">info@printpics.co.za</a><br />
    </address>*@

    @using (Html.BeginForm())
    {
        <text>
            <div class="row">
                <div class="col-sm-3">
                    @Html.LabelFor(x=>x.Email)
                </div>
                <div class="col-sm-9">
                    @Html.TextBoxFor(x=>x.Email, new{@class="form-control"})
                </div>
                <div class="col-sm-3">
                    @Html.LabelFor(x => x.Text)
                </div>
                <div class="col-sm-9">
                    @Html.TextAreaFor(x => x.Text, new { @class = "form-control" })
                </div>
            </div>
        </text>
        
        
        //@Html.EditorForModel()
        <input type="submit" value="Comment" class="btn btn-primary pull-right" />
    }
</div>

@section scripts
{
    <script>
        $(function () {
            printpics.setActiveMenu("contact");

            //$("input").addClass("form-control");
        });
    </script>
}
